body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(maserati.2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    justify-content: center;
}
#MyH1{
    font-size: 6rem;
    font-family: "Arial", sans-serif;
    color: rgb(214, 226, 43);
    text-shadow: 5px 5px 0px black;
    margin-bottom: 10px;
    max-width: 35;
    text: outline 50px black;
}
#MyH2{
    font-size: rem;
    color: yellow;
}
h2{
    color: white;
    padding: 20px;
    background-color: #004A77;
    border-radius: 20%;
    border: 2px solid black;
    margin:auto;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: auto;
    border: 3px solid;
    border-radius: 50px;
    background-color: rgba(224, 233, 96, 0.5);
}
#display{
    font-size: 3rem;
    font-family: monospace;
    color: black;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
}
#controls button{
    font-size: 1rem;
    font-weight: lighter;
    padding: 4px 10px;
    margin: 2px;
    min-width: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: backgrond-colour 0.5s ease;
}
#startBtn{
    background-color: white;
    color: black;
    font-weight: bold 500;
}
#startBtn:hover{
    background-color: rgb(252, 255, 78);
}
#stopBtn{
    color: black;
    font-weight: bold;
}
#stopBtn:hover{
    background-color: rgb(252, 255, 78);
}
#resetBtn{
    color: black;
    font-weight: bold;
}
#resetBtn:hover{
    background-color: rgb(252, 255, 65);
}

@media(max-width: 639px){
    #MyH1{
        font-size: 4rem;
        font-family: "Arial", sans-serif;
        color: rgb(214, 226, 43);
        text-shadow: 5px 5px 0px black;
        margin-bottom: 10px;
        /* padding: 10px; */
        text: outline 50px black;
        margin:auto;
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        margin: auto;
        border: 3px solid;
        border-radius: 50px;
        background-color: rgba(224, 233, 96, 0.5);
    }
    #controls{
        margin: auto;
    }
    
    
}